<a href="https://colab.research.google.com/github/nakampany/kyoupro/blob/main/enumerate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0 Alice
# 1 Bob
# 2 Charlie

In [ ]:
l = ['Alice', 'Bob', 'Charlie']

for i, name in enumerate(l):
    print(i, name)

0 Alice
1 Bob
2 Charlie

In [ ]:
for i, name in enumerate(l, 42):
    print(i, name)

42 Alice
43 Bob
44 Charlie

In [ ]:
for i, name in enumerate(l, 1):
    print(i, name)

1 Alice
2 Bob
3 Charlie

# 0 a
# 1 b
# 2 c

In [ ]:
d = {'a':9, 'b':8, 'c':7} # 辞書
for i, name in enumerate(ｄ):
    print(i, name)

0 a
1 b
2 c

# 0 p
# 1 y
# 2 t
# 3 h
# 4 o
# 5 n

In [ ]:
str = 'python'
for i, v in enumerate(str):
  print(i, v)

0 p
1 y
2 t
3 h
4 o
5 n