<a href="https://colab.research.google.com/github/nakampany/kyoupro/blob/main/join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 文字列のリスト（配列）を連結・結合: join()

# '間に挿入する文字列'.join([連結したい文字列のリスト])

# l = ['aaa', 'bbb', 'ccc']

In [3]:
l = ['aaa', 'bbb', 'ccc']
s = ''.join(l)
print(s)
# aaabbbccc

s = ','.join(l)
print(s)
# aaa,bbb,ccc

s = '-'.join(l)
print(s)
# aaa-bbb-ccc

s = '\n'.join(l)
print(s)
# aaa
# bbb
# ccc

aaabbbccc
aaa,bbb,ccc
aaa-bbb-ccc
aaa
bbb
ccc

# listをstrに変換
# [1,2,3,4,....9998,9999]   →  '1,2,3,4,....9998,9999'

In [1]:
L = []

for i in range(1000):
  L.append(i)

s = ','.join(map(str, L))
s.count('7')

300